/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container_fluid {
    width: 100%;
    margin: auto;
}

/* Colors Palette */

:root {

    --zm-primary: #FFFFFF;
    --zm-darker: #000000;
    --zm-dark: #222222;
    --zm-lighter: #5b6a7881;
    --zm-light: #4A4A4A;
    --zm-share: #4BC800;
    --zm-end: #DE2119;

}

.bg_black {
    background-color:var(--zm-darker);
    height: 100vh;
}

header div {
    color: var(--zm-primary);
    display: inline-block;
}

.container {
    display: flex;
}

#speaker_view {
    padding: 0.6rem;
    margin-top: 0.8rem;
    background-color: grey;
    margin-right: 0.8rem;
    border-radius: 0.6rem;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}

#maximize {
    padding: 0.6rem;
    margin-top: 0.8rem;
    background-color: grey;
    margin-right: 0.8rem;
    border-radius: 0.6rem;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}

#room {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.user {
    height: 6.5rem;
    width: 11rem;
    position: relative;
}

.user img {
    height: 100%;
    width: 100vw;
}

.mute {
    height: 1.5rem;
    width: 5rem;
    font-size: 0.7rem;
    color: white;
    background-color: var(--zm-lighter);
    position: absolute;
    bottom: 0px;
    left: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#room .container {
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.bg_footer {
    background-color: #222222;
}

.audio_video span, div {
    color: var(--zm-primary);
}

#audio, #video {
    display:inline-block ;
    padding: 0.5rem;
}

.icon {
    font-size: 1.4rem;
    padding-left: 0.5rem;
}

.angle_up {
    font-size: 0.6rem;
    padding: 1rem;
}

.text {
    font-size: 0.8rem;
}

/* Utilities */

.justify_end {
    justify-content: flex-end;
}